<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>balancingonwater</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,1,2,3</string>
		<key>delay</key>
		<string>.2</string>
		<key>filenamePrefix</key>
		<string>bottlecaphero</string>
	</dict>
</dict>
</plist>
